@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poppins:wght@200&family=Roboto:wght@100;300;900&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poppins:wght@200&family=Rampart+One&family=Roboto:wght@100;300;900&family=Ubuntu:wght@500&display=swap');

:root {
	--bg-color: rgba(0, 0, 0, 0.3);
	--fg-color: white;
	--ac-color: black;
}

* {
	font-family: 'Fredericka the Great';
}

body {
  margin: unset;
  overflow: hidden;
}

#confetti {
	width: 100%;
	height: 100%;

	z-index: 9;

	position: absolute;
	bottom: 0;
	left: 0;
}

#ui {
	width: 100%;
	height: 100%;

	z-index: 10;

	position: absolute;
	top: 0;
	left: 0;
}

#title {
	padding: 2vh;
	font-size: 3vh;
	text-align: center;

	backdrop-filter: blur(20px);
	background: var(--bg-color);
	color: var(--fg-color);
}

#description {
	margin: 2vh;
	padding: 2vh;
	border-radius: 10px;

	font-size: 2.5vh;
	background: rgba(0, 0, 0, 0.7);
	/* background: var(--bg-color); */
	color: var(--fg-color);
}

#description.invisible {
	display: none;
}

#docker {
	width: 100%;

	position: absolute;
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2vh;

	padding: 2vh;
	box-sizing: border-box;

	backdrop-filter: blur(20px);
	background: var(--bg-color);
}

#count {
	min-width: 4vh;
	height: 4vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 2vh;
	border-radius: 10px;

	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background: var(--ac-color);
	color: var(--fg-color);
}

#found {
	color: var(--fg-color);
}

img {
	height: 4vh;

	padding: 2vh;
	border-radius: 10px;

	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: var(--ac-color);
	color: var(--fg-color);
}